.nav-menu {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    font-size: 1rem;
}
.nav-menu-item + .nav-menu-item {
    margin-left: 2em;
}
.nav-menu-item a {
    color: white;
    font-weight: bold;
}
.gloval_nav {
    display: flex;
    justify-content: space-between;
}